body {
  background-color: #a5d6a7;
}

.post {
  height: 100px;
  width: 20px;
  position: relative;
  background-color: black;
  margin: auto;
}

.rectangle {
  height: 400px;
  width: 150px;
  position: relative;
  background-color: black;
  margin: auto;
  border-radius: 10px;
}

.redLight {
  background-color: darkred;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yellowLight {
  background-color: rgb(218, 180, 11);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.greenLight {
  background-color: rgb(1, 100, 14);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected {
  box-shadow: 0px 0px 30px 15px #fdff8f;
}
